@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');

body {
    margin: 0;
}

#main-doc {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 4fr;
    font-family: 'B612', sans-serif;
    color: white;
    background-color: #26005c;
}

#navbar {
    position: sticky;
    top: 0;
    display: grid;
    height: 100vh;
    row-gap: 20px;
    grid-template-rows: repeat(6, 1fr);
    background-color: #1a0040;
}

#Website_Title {
    display: inherit;
    font-size: 36px;
    text-align: center;
    border-bottom: 2px solid black;
    align-items: center;
}

.nav-link {
    display: inherit;
    align-items: center;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid black;
}

#main-page-grid {
    display: grid;
    row-gap: 20px;
    grid-template-rows: repeat(auto-fit, 1fr);
}

.main-section {
    font-size: 20px;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
}

#generator {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#mode-names {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
}

.mode-name {
    font-size: 24px;
    text-align: right;
}

.mode {
    font-size: 14px;
    justify-self: center;
}

.map-name {
    font-size: 12px;
}

p {
    font-size: 20px;
}

li {
    font-size: 20px;
}

.box {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    float: right;
}

.box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    margin-top: 2px;
    margin-left: 10px;
    height: 12px;
    width: 12px;
    background: white;
    justify-self:right;
}

.box:hover input ~ .checkmark {
    background-color: rgb(193, 166, 255);
  }

.box input:checked ~ .checkmark {
    background-color: #1a0040;
  }

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

.box input:checked ~ .checkmark:after {
    display: block;
  }

.box .checkmark:after {
    left: 4px;
    top: 1px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

#buttons {
    margin: 30px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#output {
    margin: auto;
    text-align: center;
    max-width: 400px;
}

#maplist {
    font-size: 14px;
    margin: 10px 0 10px 0;

}

/* #sec1 {
    background-color: red;
}

#sec2 {
    background-color: yellowgreen;
}

#sec3 {
    background-color: blueviolet;
}

#sec4 {
    background-color: salmon;
}

#sec5 {
    background-color: rgb(112, 65, 151);
} */