@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');

body {
    margin: 0;
}

#main-doc {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 4fr;
    font-family: 'B612', sans-serif;
    color: white;
    background-color: #26005c;
}

#navbar {
    position: sticky;
    top: 0;
    display: grid;
    height: 100vh;
    row-gap: 20px;
    grid-template-rows: repeat(6, 1fr);
    background-color: #1a0040;
}

#Website_Title {
    display: inherit;
    font-size: 36px;
    text-align: center;
    border-bottom: 2px solid black;
    align-items: center;
}

.nav-link {
    display: inherit;
    align-items: center;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid black;
}

#main-page-grid {
    display: grid;
    row-gap: 20px;
    grid-template-rows: repeat(auto-fit, 1fr);
}

.main-section {
    font-size: 20px;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
}

#generator {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#mode-names {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
}

.mode-name {
    font-size: 24px;
    text-align: center;
}

.mode {
    font-size: 12px;
    justify-self: center;
}

p {
    font-size: 20px;
}

li {
    font-size: 20px;
}

.maplist-checkbox:checked:after {
    background-color: #3f7e0c;
    content: '\2714';
}

/* #sec1 {
    background-color: red;
}

#sec2 {
    background-color: yellowgreen;
}

#sec3 {
    background-color: blueviolet;
}

#sec4 {
    background-color: salmon;
}

#sec5 {
    background-color: rgb(112, 65, 151);
} */